p {
  text-align: center
}
#containerparent {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  display: flex;
}
